@font-face {
  font-family: 'SF-Pro';
  src: url('./fonts/sfprodisplayregular-webfont.woff') format('woff2'),
       url('./fonts/sfprodisplayregular-webfont.woff2') format('woff'),
       url('./fonts/SFPRODISPLAYREGULAR.otf') format('opentype');
}
:root {


  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

